*{
    box-sizing: border-box;
    }
    
    body{
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background:  #777;
    font-size: 18px;
    
    }
    #top{
    background: #ebebeb;
    padding: 10px;
    text-align: center;
    margin-left: 180px;
    margin-top: 20px;
    margin-right: 180px;
    width: 850px;
    color: grey;
    height: 60px;
    
    
    }
    
    
    .nav{
        background: #ebebeb;
        padding: 10px;
        margin-top: 22px;
        margin-left: 180px;
        margin-right: 180px;
        text-align: center;
        width: 850px;
        color: grey;
        height: 60px;
    
    }
    
    #content {
        background: #ebebeb;
        position: relative;
        width: 495px;
        float: left;
        width: 495px;
        color: grey;
        height: 220px;
        text-align: center;
        margin-left: 180px;
        padding: 28px;
        vertical-align: top;
        bottom: 0px;
        top: 20px;

    
    
    }
    
    
    .side{
        background: #ebebeb;
        position: relative;
        width: 450px;
        color: grey;
        float: left;
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
        padding: 22px;
        width: 340px;
        bottom: 0px;
        top: 20px;
        height: 220px;
        margin-bottom: 35px;
    
    
    
    }
    
    .bottom{
        background: #ebebeb;
        clear: both;
        overflow: auto;
        padding: 40px;
        margin-left: 180px;
        margin-right: 180px;
        width: 850px;
        color: grey;
        text-align: center;
    
    
    }
    
    #article{
    color: #ebebeb;
    background: #777;
    padding: 10px;
    width: 422px;
    height: 140px;
    position: absolute;
    left: 19px;
    top: 70px;
    
    
    
    }
    
    h1{
    color: #777;
    background: #ebebeb;
    padding: 5px;
    position: relative;
    top: 400px;
    width: 400px;
    right: -2px;
    top: -8px;
    height: 35px;
    }
    
    
    
    
    p{
        color: #777;
        background: #ebebeb;
        padding: 5px;
    position: relative;
    top: 40px;
    height: 35px;
    top: -15px;
    }
    
    